<mat-card>
  <mat-card-content>
    <table class="user-table">

      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
        <th>Delete</th>
      </tr>

      <tr *ngFor="let user of allUsers">
        <td [routerLink]="['/user/' + user.customIdName]">{{ user.firstName }} {{ user.lastName }}</td>
        <td [routerLink]="['/user/' + user.customIdName]">{{ user.email }}</td>
        <td [routerLink]="['/user/' + user.customIdName]">{{ user.city }}</td>
        <td>
          <button class="delete-button" mat-raised-button color="warn" (click)="deleteUser(user.customIdName)">Delete</button>
        </td>        
      </tr>

    </table>
  </mat-card-content>
</mat-card>


<button class="add-user-button" (click)="openDialog()" mat-fab color="primary" matTooltip="Add user"
  [matTooltipPosition]="'above'">
  <mat-icon>add</mat-icon>
</button>