.text{
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
   font-weight: 400;
}

.try{
    margin-right: 20px;
}